<div class="spinner" 
     *ngIf="!isReady; else heroeInfo">
    <mat-spinner></mat-spinner>
</div>

<ng-template #heroeInfo>
    <div class="entertaiment-container">
        <h1 class="name">Titulo</h1>
        <div class="entertaiment-body">
            <div class="info">
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A laboriosam nostrum minus tempore alias corporis veritatis, quae nisi omnis esse nam. Dignissimos incidunt suscipit eius omnis, eos perspiciatis accusantium eveniet.
                    Quibusdam blanditiis temporibus omnis corporis? Nisi, itaque cumque. Aperiam eveniet dolorem quae odit quibusdam sint ullam praesentium dolor ab. Consequatur iure quasi temporibus tempora quas dolorum est repellendus quos officia!
                    Assumenda natus consectetur, commodi explicabo dicta iusto nemo similique fuga, iste, aliquid a! Laudantium dolor sequi eligendi, cumque natus amet incidunt, iure rem a dolores iusto. Nisi accusamus porro placeat.
                    Laborum minima impedit accusantium nisi alias voluptatem? Voluptate sapiente sequi ab illo numquam, quibusdam modi repellat? Suscipit ipsa veniam inventore deleniti magnam animi consequuntur ullam similique reiciendis. Accusantium, quae obcaecati?</p>
                <article class="characters">
                    <h1>Personajes</h1>
                    <ul>
                        <li>
                            <h2>Nombre</h2>
                        </li>
                    </ul>
                </article>  
                <article class="creators">
                    <h1>Creadores</h1>
                    <ul>
                        <li>
                            <h2>Nombre</h2>
                            <span>Role</span>
                        </li>
                    </ul>
                </article>     
                   
            </div>
        </div>
        <aside>
            <ul class="urls">
                <li>url</li>
            </ul>
            <ul class="prices">
                <li>
                    <h2>name</h2>
                    <span>precio</span>
                </li>
            </ul>
            <ul class="dates">
                <li>
                    <h2>name</h2>
                    <span>fecha</span>
                </li>
            </ul>
        </aside>
    </div>
</ng-template>