.heroe-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(432px, 1fr));
    padding: 30px 3vw;
    justify-content: space-around;
    align-items: center;
    grid-gap: 3vw;
}
@media (max-width: 1500px) {
    .heroe-list{
        grid-template-columns: repeat(auto-fit,minmax(334px, 1fr));
    }
}
@media (max-width: 765px) {
    .heroe-list{
        grid-template-columns: repeat(auto-fit,minmax(216px, 500px));
    }
}