.heroe-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(432px, 1fr));
    padding: 30px 3vw;
    justify-content: space-around;
    align-items: center;
    grid-gap: 3vw;
}